body {
  /*zoom: 70%;*/
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: Helvetica, Sans-Serif;
  background-color: #f2f2f2;
}

#wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  width: 995px;
}
#wrapper2 {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}


#edit_controls {
  background-color: #adadad;
  width: 1000px;
  margin-left: 2.48px;
  border-radius: 12px;
  padding: 6px 32px;
}

#edit_controls li {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 10px;
  color: white;
}

#images_div img {
  
  float: center;
  clear: left;
  width: 1920px;
  padding: 20px;
}

#images_div canvas {
  border: 0px solid #d3d3d3;
}
.button {
  background-color: #00b4c8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
button {
  margin: 20px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
canvas {
  //transform scale: 0.5;
  //-webkit-transform: scale(0.5, 0.5);
  height: 800px;